html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2.5em;
    margin-bottom: 5em;
    background-color: rgb(255, 245, 235);
}

article {
    margin-bottom: 3em;
}

h1{
    font-size: 5em;
    font-weight: 700;
    margin-left: -1.8rem;
    margin-bottom: -0.2em;
}

h2 {
    font-size: 1.6em;
    text-indent: -2.2em;
    margin-top: 1em;
}

h3{
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.2em;
    margin-left: -1.5rem;
}

li {
    line-height: 1.6em;
    color: rgb(110, 110, 110);
}

.grid {
    padding: 0;
}

.grid img {
    width: 90%;
}

.grid li {
    display: block;
    width: 25%;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.using-flex {
    display: flex;
    flex-wrap: wrap;
}