body {
background-color: rgb(27, 27, 27);
margin-bottom: 200px;
}

p {
font-family: "Barlow Condensed", Arial, sans-serif;
font-weight: 400;
margin-top: 0px;
margin-bottom: 25px;
margin-left: 400px;
margin-right: 400px;
letter-spacing: 0.5px;
color: white;
font-size: 1em;
line-height: 1.5;
}

header {
text-align: center;
color: white;
}

h1 {
font-family: "Barlow Condensed", Arial, sans-serif;
font-weight: 700;
margin-top: 50px;
letter-spacing: 0.5px;
margin-bottom: 0px;
font-size: 6em;
}

h2 {
font-family: "Barlow Condensed", Arial, sans-serif;
font-weight: 600;
letter-spacing: 0.5px;
margin-top: -20px;
margin-bottom: 0px;
font-size: 4em;
}

h3 {
font-family: "Barlow Condensed", Arial, sans-serif;
font-weight: 600;
margin-bottom: 40px;
letter-spacing: 0.5px;
margin-top: 30px;
margin-bottom: 45px;
font-size: 1.5em;
}

h4 {
font-family: "Barlow Condensed", Arial, sans-serif;
text-align: right;
margin-right: 1150px;
font-weight: 600;
margin-top: 0px;
margin-bottom: 0px;
letter-spacing: 0.5px;
color: rgb(255, 128, 23);
font-size: 1.2em;
}

#quote {
font-weight: 400;
font-style: italic;
}

#spotifything {
margin-left: 1000px;
width: 60%;
position: sticky;
top: 0px;
}