html {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    background-color: #141414;
    color: #fff;
}

body {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;
    max-width: 40rem;
}

footer {
    position: absolute;
    left: 0;
    padding-left: 3%;
    padding-right: 15%;
    padding-top: 12px;
    padding-bottom: 18px;
    margin-top: 100px;
    border-top: 1px solid #fe4398;
    font-size: 70%;
    width: 82%;
}

footer p {
    line-height: 0.8rem;
    font-style: italic;
    color: #8b8b8b;
    margin-block-start: 0;
    margin-block-end: 0.8em;
}

div.vertical {
    display: block;
    position: absolute;
    top: 120px;
    left: 77%;
    writing-mode: vertical-rl;
    font-size: 6rem;
    font-weight: 900;
    line-height: 95%;
    color: #fe4398;
}

h1 {
    font-weight: 900;
    text-align: right;
    font-size: 5em;
    line-height: 1em;
    width: 100%;
    margin-left: -50%;
    margin-bottom: 0;
}

h1.horizontal {
    font-size: 3em;
    text-align: right;
    color: #fe4398;
    display: none;
}

h1.horizontal#break {
    line-height: 1em;
}

h2 {
    font-weight: 900;
    text-align: center;
    width: 120%;
    margin-left: -10%;
}

h3 {
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
}

p {
    line-height: 1.5rem;
}

em {
    font-weight: 900;
    font-style: normal;
    color: #fe4398;
}

em2 {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: #fe4398;
    text-underline-offset: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    display: block;
    width: 50%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

img.skz {
    position: absolute;
    width: 200px;
    left: 52%;
    top: 90px;
    mix-blend-mode: screen;   
}

img.member {
    object-fit: cover;
    object-position: 50% 10%;
    width: 90%;
    aspect-ratio: 1/1;
}

img.rockstar {
    position: fixed;
    opacity: 10%;
    left: 5%;
    top: 80px;
    width: 90%;
    z-index: -1;
}

img.bio {
    object-fit: cover;
    width: 100%;
    margin-top: 20px;
}

.navbar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    height: 70px;
    justify-content:left;
    width: 120%;
    z-index: 100;
    border-bottom: 1.5px solid #252525;
}

img.logo {
    display: block;
    position: relative;
    padding-top: 5px;
    height: 60px;
    width: auto;
    transition: all .3s;
}

img.logo:hover {
    transform: scale(105%);
}

li#homenav {
    float: left;
    text-align: left;
    width: 12%;
    margin-left: 2%;
}

li#membersnav {
    padding-top: 25px;
    float: left;
    text-align: center;
    width: 12%;
}

li#discognav {
    padding-top: 25px;
    float: left;
    text-align: center;
    width: 12%;
}

li#historynav {
    padding-top: 25px;
    float: left;
    text-align: center;
    width: 12%;
}

ul.discog {
    margin-bottom: 50px;
}

.discog li {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 1.5rem;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}
a:hover {
    color: #fe4398;
    letter-spacing: 0.08rem;
}
a:active {
    color: #fe4398;
    text-decoration: underline;
    text-decoration-color: #fe4398;
    text-underline-offset: 0.5rem;
}

a#footerlink:hover {
    letter-spacing: normal;
}
a#footerlink:active {
    text-underline-offset: 0;
}

a#rockstarlink {
    color: #fe4398;
    transition: all .3s;
    text-decoration: underline;
    text-decoration-color: rgba(255, 66, 151, 0);
}
a#rockstarlink:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 66, 151, 1);
}
a#rockstarlink:active {
    color: #fff;
    text-decoration-color: #fff;
    text-underline-offset: 0;
}

#discogsmall {
    display: none;
}

@media (max-width: 800px) {

body {
    font-size: 95%;
    width: 55%;
}

h1 {
    width: 100%;
    font-size: 4em;
    margin-left: -50%;
}

h2 {
    font-size: 1.4em;
    width: 180%;
    margin-left: -40%;
}

.navbar {
    width: 200%;
}

img.skz {
    width: 150px;
    top: 98px;
}

img.rockstar {
    top: 120px;
}

img.bio {
    margin-left: -15%;
    width: 130%;
}

#discogbig {
    display: none;
}

#discogsmall {
    display: block;
}

}

@media (max-width: 520px) {

body {
    font-size: 85%;
    width: 85%;
}

h1 {
    width: 100%;
    font-size: 3.5em;
    margin-left: -50%;
}

h2 {
    width: 100%;
    margin-left: 0;
}

div.vertical {
    display: none;
}

h1.horizontal {
    display: block;
}

h1.horizontal#break {
    display: none;
}

#discogsmall {
    display: none;
}

img.logo {
    padding-top: 12px;
    height: 45px;
}

img.skz {
    width: 120px;
}

img.bio {
    width: 100%;
    margin-left: 0;
}

}

@media (max-width: 430px) {
    h1.horizontal#nobreak {
        display: none;
    }

    h1.horizontal#break {
        display: block;
    }
}