html {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    background-color: #121212;
    color: #fff;
}

body {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 50%;
    max-width: 40rem;
}

footer {
    position: absolute;
    left: 0;
    padding-left: 5%;
    padding-right: 15%;
    margin-top: 100px;
    border-top: 1px solid #fe4398;
    font-size: 70%;
    width: 80%;
}

footer p {
    line-height: 0.9rem;
    font-style: italic;
    color: #a9a9a9;
}

div.vertical {
    display: block;
    position: absolute;
    top: 120px;
    left: 77%;
    writing-mode: vertical-rl;
    font-size: 6rem;
    font-weight: 900;
    line-height: 95%;
    color: #fe4398;
}

h1 {
    font-weight: 900;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-weight: 900;
    text-align: center;
}

h3 {
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
}

p {
    line-height: 1.5rem;
}

em {
    font-weight: 900;
    font-style: normal;
    color: #fe4398;
}

em2 {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: #fe4398;
    text-underline-offset: 0.5rem;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    display: block;
    width: 50%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

img.member {
    object-fit: cover;
    object-position: 50% 10%;
    width: 90%;
    aspect-ratio: 1/1;
}

img.rockstar {
    position: fixed;
    opacity: 10%;
    left: 10%;
    top: 120px;
    width: 80%;
    z-index: -1;
}

img.bio {
    object-fit: cover;
    width: 100%;
    margin-top: 20px;
}

.navbar {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2d2228;
    height: 70px;
    justify-content:left;
    width: 120%;
    z-index: 100;
}

img.logo {
    display: block;
    position: relative;
    padding-top: 5px;
    height: 60px;
    width: auto;
    transition: all .3s;
}

img.logo:hover {
    transform: scale(108%);
}

li#homenav {
    float: left;
    text-align: left;
    width: 12%;
    margin-left: 2%;
}

li#membersnav {
    padding-top: 25px;
    float: left;
    text-align: center;
    width: 12%;
}

li#discognav {
    padding-top: 25px;
    float: left;
    text-align: center;
    width: 12%;
}

li#historynav {
    padding-top: 25px;
    float: left;
    text-align: center;
    width: 12%;
}

ul.discog {
    margin-bottom: 50px;
}

.discog li {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 1.5rem;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}
a:hover {
    color: #fe4398;
    letter-spacing: 0.08rem;
}
a:active {
    color: #fe4398;
    text-decoration: underline;
    text-decoration-color: #fe4398;
    text-underline-offset: 0.5rem;
}

a#footerlink:hover {
    letter-spacing: normal;
}
a#footerlink:active {
    text-underline-offset: 0;
}

#discogsmall {
    display: none;
}

@media (max-width: 800px) {

body {
    font-size: 95%;
    width: 55%;
}

.navbar {
    width: 200%;
}

img.bio {
    margin-left: -15%;
    width: 130%;
}

#discogbig {
    display: none;
}

#discogsmall {
    display: block;
}

}

@media (max-width: 520px) {

body {
    font-size: 85%;
    width: 70%;
}

h1 {
    font-size: 2.2em;
}

div.vertical {
    display: none;
}

#discogsmall {
    display: none;
}

img.logo {
    padding-top: 12px;
    height: 45px;
}

img.bio {
    width: 100%;
    margin-left: 0;
}

}